html,body { 
    height:100%; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    height: 100px;
}

.h1 {
    font-size: 40px;
}

label {
    font-weight: bold;
    font-size: 20px;
}

.sidebar {
    background-color: rgba(218, 214, 214, 0.295);
    width: 300px;
    height: 100%;   
    float: left;
}

.sidebarHeader, .sidebarBody {
    padding: 5px 15px 10px 10px;
}

input {
    width: 200px;
    height: 40px;
    vertical-align: middle;
}

.btn {
    height: 40px;
}

.list-group-item {
    height: 60px;
}


.content {
    border: solid red;
    margin: 5px;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
}


.cityInfo, .forecastInfo {
    margin: 10px;
    position: relative;
}

.forecastInfo {
    float: left;
    width: 100%;
}

.forecastCards {
    display: flex;
    flex-direction: row;
    float: left;
}

.dayCard {
    background-color: #0d6efd;
    height: fit-content;
    width: 10rem;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 10px;
    position: absolute;
}

.cardHeader {
    font-size: 1.5rem;
}

.cardInfo {
    text-align: left;
}