.navbar {
    height: 100px;
}

html,body { 
    height:100%; 
}

.h1 {
    font-size: 40px;
}

label {
    font-weight: bold;
    font-size: 20px;
}

.sidebar {
    background-color: rgba(218, 214, 214, 0.295);
    position: static;
    width: 400px;
    height: 100%;   
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidebarHeader, .sidebarBody {
    padding: 5px 15px 10px 10px;
}

input {
    width: 300px;
    height: 40px;
    vertical-align: middle;
}

.btn {
    height: 40px;
}

.list-group-item {
    height: 60px;
}